#### Working with databases in Python

#### Python SQLAlchemy 

[link](https://www.pythonsheets.com/notes/python-sqlalchemy.html)

In [1]:
import pandas as pd
import pymysql
import pymysql.cursors

In [3]:
from sqlalchemy.engine.url import URL

postgres_db = {'drivername': 'gucci148',
               'username': 'gucci148',
               'password': 'ABAyie148',
               'host': 'gucci148.ccjf9qimt2db.us-east-2.rds.amazonaws.com',
               'port': 3306}
print(URL(**postgres_db))

sqlite_db = {'drivername': 'sqlite', 'database': 'db.sqlite'}
print(URL(**sqlite_db))

gucci148://gucci148:ABAyie148@gucci148.ccjf9qimt2db.us-east-2.rds.amazonaws.com:3306
sqlite:///db.sqlite

#### Sqlalchemy Create a Table

In [21]:
from sqlalchemy import create_engine

db_uri = "sqlite:///db.sqlite"
engine = create_engine(db_uri)

# DBAPI - PEP249
# create table
engine.execute('CREATE TABLE "EX1" ('
               'id INTEGER NOT NULL,'
               'firstname VARCHAR, '
               'lastname VARCHAR, '
               'PRIMARY KEY (id));')
# insert a raw
engine.execute('INSERT INTO "EX1" '
               '(id, firstname,lastname) '
               'VALUES (1,"John","Owen"),(2,"Charles","Johnson")')

# select *
result = engine.execute('SELECT * FROM '
                        '"EX1"')
for _r in result:
    print(_r)

# delete *
engine.execute('DELETE from "EX1" where id=1;')
result = engine.execute('SELECT * FROM "EX1"')
print(result.fetchall())

(1, 'John', 'Owen')
(2, 'Charles', 'Johnson')
[(2, 'Charles', 'Johnson')]

In [23]:
import sqlite3
conn=sqlite3.connect('pythonsqlite1.db')