In [4]:
import pandas as pd
import pymysql
import pymysql.cursors

#### Install  PyMySQL

In [ ]:
#pip install PyMySQL

In [5]:
host="gucci148.ccjf9qimt2db.us-east-2.rds.amazonaws.com"
port=3306
dbname="RMySQL"
user="gucci148"
password="ABAyie148"

conn = pymysql.connect(host, user=user,port
=port,
passwd=password,
db=dbname)

OperationalError: (2003, "Can't connect to MySQL server on 'gucci148.ccjf9qimt2db.us-east-2.rds.amazonaws.com' (timed out)")

Using PyMySQL we shall create our table

In [ ]:
#!/usr/bin/env python3
 
#Importing needed modules of PyMySQL
from pymysql import connect, err, sys, cursors
 
#Doing our connection
conn = connect( host = 'localhost',
                        port = 3306,
                        user = 'user',
                        passwd = 'Password',
                        db = 'test' );
#Setting cursors and defining type of returns we need from Database, here it's gonna be returning as dictionary data
cursor = conn.cursor( cursors.DictCursor );
 
#Running a query easily
cursor.execute( """CREATE TABLE IF NOT EXISTS `test_user`
    (
        `ID` INT AUTO_INCREMENT NOT NULL,
        `user_name` VARCHAR( 200 ) NOT NULL,
        `user_email` VARCHAR( 200 ) NOT NULL,
        PRIMARY KEY ( `ID` )
    )Engine = MyISAM""" )
cursor.execute( "INSERT INTO `test_user` ( `user_name`, `user_email` ) VALUES( 'donjajo', 'donjajo@example.com' ) ")

Running the Python code above returns nothing but creates the tables and columns specified.

Returning Data from Database:
Executing this code just below the test code above

In [ ]:
cursor.execute( "SELECT * FROM `test_user`" )
data = cursor.fetchall()
print( data )

#### Database Connection

In [14]:
#!/usr/bin/python3

import pymysql

# Open database connection
db = pymysql.connect(host,user,password,dbname )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print ("Database version : %s " % data)

# disconnect from server
db.close()

OperationalError: (2003, "Can't connect to MySQL server on 'gucci148.ccjf9qimt2db.us-east-2.rds.amazonaws.com' (timed out)")

#### Creating Database Table
Once a database connection is established, we are ready to create tables or records into the database tables using execute method of the created cursor.
Example
Let us create a Database table EMPLOYE

In [ ]:
#!/usr/bin/python3

import pymysql

# Open database connection
db = pymysql.connect("localhost","testuser","test123","TESTDB" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Drop table if it already exist using execute() method.
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

# Create table as per requirement
sql = """CREATE TABLE EMPLOYEE (
   FIRST_NAME  CHAR(20) NOT NULL,
   LAST_NAME  CHAR(20),
   AGE INT,  
   SEX CHAR(1),
   INCOME FLOAT )"""

cursor.execute(sql)

# disconnect from server
db.close()

#### INSERT Operation
The INSERT Operation is required when you want to create your records into a database table.

Example
The following example, executes SQL INSERT statement to create a record in the EMPLOYEE table

In [ ]:
#!/usr/bin/python3

import PyMySQL

# Open database connection
db = PyMySQL.connect("localhost","testuser","test123","TESTDB" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to INSERT a record into the database.
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
   LAST_NAME, AGE, SEX, INCOME)
   VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

# disconnect from server
db.close()

In [ ]:
The above example can be written as follows to create SQL queries dynamically

In [ ]:
#!/usr/bin/python3

import PyMySQL

# Open database connection
db = PyMySQL.connect("localhost","testuser","test123","TESTDB" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to INSERT a record into the database.
sql = "INSERT INTO EMPLOYEE(FIRST_NAME, \
   LAST_NAME, AGE, SEX, INCOME) \
   VALUES ('%s', '%s', '%d', '%c', '%d' )" % \
   ('Mac', 'Mohan', 20, 'M', 2000)
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

# disconnect from server
db.close()

Example
The following code segment is another form of execution where you can pass parameters directly

In [ ]:
..................................
user_id = "test123"
password = "password"

con.execute('insert into Login values("%s", "%s")' % \
             (user_id, password))
..................................

#### READ Operation
READ Operation on any database means to fetch some useful information from the database.

Once the database connection is established, you are ready to make a query into this database. You can use either fetchone() method to fetch a single record or fetchall() method to fetch multiple values from a database table.

fetchone() − It fetches the next row of a query result set. A result set is an object that is returned when a cursor object is used to query a table.

fetchall() − It fetches all the rows in a result set. If some rows have already been extracted from the result set, then it retrieves the remaining rows from the result set.

rowcount − This is a read-only attribute and returns the number of rows that were affected by an execute() method.

Example
The following procedure queries all the records from EMPLOYEE table having salary more than 1000 −

In [ ]:
#!/usr/bin/python3

import PyMySQL

# Open database connection
db = PyMySQL.connect("localhost","testuser","test123","TESTDB" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to INSERT a record into the database.
sql = "SELECT * FROM EMPLOYEE \
       WHERE INCOME > '%d'" % (1000)
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Fetch all the rows in a list of lists.
   results = cursor.fetchall()
for row in results:
      fname = row[0]
    lname = row[1]
      age = row[2]
    sex = row[3]
      income = row[4]
      # Now print fetched result
      print ("fname = %s,lname = %s,age = %d,sex = %s,income = %d" % \
             (fname, lname, age, sex, income ))
except:
print ("Error: unable to fetch data")

# disconnect from server
db.close()

#### Update Operation
UPDATE Operation on any database means to update one or more records, which are already available in the database.

The following procedure updates all the records having SEX as 'M'. Here, we increase the AGE of all the males by one year.

Example

In [ ]:
#!/usr/bin/python3

import PyMySQL

# Open database connection
db = PyMySQL.connect("localhost","testuser","test123","TESTDB" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to UPDATE required records
sql = "UPDATE EMPLOYEE SET AGE = AGE + 1
                          WHERE SEX = '%c'" % ('M')
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

# disconnect from server
db.close()

#### DELETE Operation
DELETE operation is required when you want to delete some records from your database. Following is the procedure to delete all the records from EMPLOYEE where AGE is more than 20 −

Example

In [ ]:
#!/usr/bin/python3

import PyMySQL

# Open database connection
db = PyMySQL.connect("localhost","testuser","test123","TESTDB" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to DELETE required records
sql = "DELETE FROM EMPLOYEE WHERE AGE > '%d'" % (20)
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

# disconnect from server
db.close()

#### Performing Transactions
Transactions are a mechanism that ensures data consistency. Transactions have the following four properties −

Atomicity − Either a transaction completes or nothing happens at all.

Consistency − A transaction must start in a consistent state and leave the system in a consistent state.

Isolation − Intermediate results of a transaction are not visible outside the current transaction.

Durability − Once a transaction was committed, the effects are persistent, even after a system failure.

The Python DB API 2.0 provides two methods to either commit or rollback a transaction.

Example
You already know how to implement transactions. Here is a similar example

In [ ]:
# Prepare SQL query to DELETE required records
sql = "DELETE FROM EMPLOYEE WHERE AGE > '%d'" % (20)
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

#### COMMIT Operation
Commit is an operation, which gives a green signal to the database to finalize the changes, and after this operation, no change can be reverted back.

Here is a simple example to call the commit method.

In [ ]:
db.commit()

#### ROLLBACK Operation
If you are not satisfied with one or more of the changes and you want to revert back those changes completely, then use the rollback() method.

Here is a simple example to call the rollback() method.

In [ ]:
db.rollback()

#### Disconnecting Database
To disconnect the Database connection, use the close() method.

In [ ]:
db.close()

If the connection to a database is closed by the user with the close() method, any outstanding transactions are rolled back by the DB. However, instead of depending on any of the DB lower level implementation details, your application would be better off calling commit or rollback explicitly.

#### Handling Errors
There are many sources of errors. A few examples are a syntax error in an executed SQL statement, a connection failure, or calling the fetch method for an already canceled or finished statement handle.

The DB API defines a number of errors that must exist in each database module. The following table lists these exceptions

In [6]:
# Connect to the database
connection = pymysql.connect(host='gucci148.ccjf9qimt2db.us-east-2.rds.amazonaws.com',
                             user='gucci148',
                             password='ABAyie148',
                             db='RMySQL',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

OperationalError: (2003, "Can't connect to MySQL server on 'gucci148.ccjf9qimt2db.us-east-2.rds.amazonaws.com' (timed out)")

#### Python SQLAlchemy Cheatsheet

[link](https://www.pythonsheets.com/notes/python-sqlalchemy.html)

In [12]:
from sqlalchemy.engine.url import URL

postgres_db = {'drivername': 'gucci148',
               'username': 'gucci148',
               'password': 'ABAyie148',
               'host': 'gucci148.ccjf9qimt2db.us-east-2.rds.amazonaws.com',
               'port': 3306}
print(URL(**postgres_db))

sqlite_db = {'drivername': 'sqlite', 'database': 'db.sqlite'}
print(URL(**sqlite_db))

gucci148://gucci148:ABAyie148@gucci148.ccjf9qimt2db.us-east-2.rds.amazonaws.com:3306
sqlite:///db.sqlite